[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Lightweight bash package manager
[access "refs/*"]
	owner = group user/Yazhong Liu (yorkie)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yazhong Liu (yorkie)
	label-Verified = -1..+1 group user/Yazhong Liu (yorkie)
	push = group user/Yazhong Liu (yorkie)
	read = group user/Yazhong Liu (yorkie)
	rebase = group user/Yazhong Liu (yorkie)
	removeReviewer = group user/Yazhong Liu (yorkie)
	submit = group user/Yazhong Liu (yorkie)
[access "refs/heads/*"]
	create = group user/Yazhong Liu (yorkie)
	push = +force group user/Yazhong Liu (yorkie)
	pushMerge = group user/Yazhong Liu (yorkie)
	read = group user/Yazhong Liu (yorkie)
[access "refs/tags/*"]
	push = group user/Yazhong Liu (yorkie)
	push = +force group user/Yazhong Liu (yorkie)
